

<ion-content>

  <div id="idFound" expand="full">
    <div *ngIf="error">
      {{error}}
    </div>

      <ion-title expand="full">Alarma de Robo</ion-title>
      <form *ngIf="!spinner" #loginForm="ngForm" novalidate>
    
            <ion-item>
              <ion-label position="stacked" color="white">Correo</ion-label>
              <ion-input [(ngModel)]="login.email" name="email" type="text" #mail="ngModel" spellcheck="false"
                autocapitalize="off" required> <!--Que reciba un formulario, crear en el ts un form control con los dos controles, hacer la validacion desde el ts-->
              </ion-input> <!--Aplicarles estilos a todos los inputs, botones de acceso rapido que no sean textos sino botones -->
            </ion-item>
            <ion-text color="danger">
              <p [hidden]="mail.valid || submitted === false" class="ion-padding-start">
                Por favor, ingrese su Correo Electrónico.
              </p>
            </ion-text>
      
            <ion-item>
              <ion-label position="stacked" color="white">Contraseña</ion-label>
              <ion-input [(ngModel)]="pass" name="password" type="password" #password="ngModel" minlength=6 required>
              </ion-input>
            </ion-item>
            <ion-text color="danger">
              <p [hidden]="!password.errors || submitted === false" class="ion-padding-start">
                La contraseña ingresada es muy corta.
              </p>
            </ion-text>
            <ion-text color="danger">
              <p [hidden]="!password.errors || submitted === false" class="ion-padding-start">
                Por favor, ingrese una contraseña.
              </p>
            </ion-text>
      
          <ion-row>
            <ion-col>
              <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">Ingresar</ion-button>
            </ion-col>
          </ion-row>

          <ion-chip>
            <ion-avatar (click)="admin()">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Admin</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-avatar (click)="invitado()">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Invitado</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-avatar (click)="usuario()">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Usuario</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-avatar (click)="anonimo()">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Anonimo</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-avatar (click)="tester()">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Tester</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>

      </form>
    
  </div>

  
</ion-content>
