#errorLogin{
    color : rgb(218, 201, 201);
}

form{
    background-image: url('../../assets/images/orangered.jpg');
    width: 330px;
    height: 500px;
    padding: 78px 30px;
}

#idFound{
    background-image: url('../../assets/images/rojo.jpg');
    padding: 254px 40px;
}

#idColRow{
    background-color: rgb(237, 237, 110);
}

.list {
    margin-bottom: 0;
  }

ion-icon{
    background-color: #7d7d07;
}

ion-item{
    --background: rgb(250, 225, 86);
}


ion-input{
    background-color: rgb(247, 247, 168);
}

ion-button{
    width: 250px;
    height: 100px;
    padding: 1px;
    color: black;
    font-size: large;
}

.ion-padding-start{
    background-color: pink;
}

ion-title{
    background-color: orange;
    font-variant-position: center;
    font-size: large;
    width: 330px;
}

ion-chip {
    --background: orange;
    --color: black;
  }

#header{
    height: 33%;
    background: #2b879e;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 40px 20px;

    #app-bar{
      height: 60px;
      align-items: center;

      #logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img{
        border-radius: 50%;
        width: 90px; 
        height: 90px;
        align-items: center; 
        }
      }
    }
  }

