#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cc0f18;
    padding: 444px 10px;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

#idInicio{
  background-color: rgb(237, 237, 110);
}

// #idButtonLogin{
//   background-color: orangered;
//   padding: 30px 15px;
// }

// #idButtonRegister{
//   background-color: orangered;
//   padding: 30px 15px;
// }

#idRow{
    background-image: url(../../assets/Flamingo.jpg);
  padding: 220px 15px;
}

#idForm{
  background-color: #411d1e;
  padding: 98px 40px;
}

#idFound{
  background-color: #cc0f18;
  padding: 323px 10px;
}

ion-button{
  height: 100%;
}

ion-icon{
  font-size: 400px;
}