<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-fab horizontal="start" slot="start">
      <ion-fab-button (click)="logout()">
        <ion-icon name="power-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-button expand="full" shape="round" [color]="fondoColor"  class="full-screen-button" (click)="activarAlarma()">
    <ion-img [src]="imgCandado" class="boton-imagen"></ion-img>
  </ion-button>
</ion-content>